/* Card.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.cards-section {
    padding: 20px 0;
    display: flex;
    
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.card {
    width: 90%;
    background: white;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    overflow: hidden;
    height: 455px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}

.campaign-image {
    width: 100%;
    height: 340px;
    padding: 5px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    display: block;
}

.card-content {
    position: relative;
    flex-grow: 1;
}

.overlay-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0 0 16px 16px;
}

.text-content h3 {
    font-size: 16px;
    color: black;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    padding: 15px;
    font-family: "Poppins", sans-serif; 

    margin-bottom: 6px;
    position: relative;
    top: -30px;
}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: "Poppins", sans-serif; 

    padding-left: 15px;
    position: relative;
    top: -40px;
    font-size: 14px;
    color: #000000;
}

.location-icon {
    color: #f97e52;
}

.date-badge {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "Poppins", sans-serif; 

    top: -34px;
    left: -5px;
    border: 2px solid #f97e52;
}

.month {
    background: white;
    color: black;
    height: 50%;
    width: 100%;
    font-family: "Poppins", sans-serif; 

    display: flex;
    font-weight: bold;
    align-items: center;
    padding-top: 8px;
    justify-content: center;
}

.year {
    background: #f97e52;
    color: rgb(0, 0, 0);
    height: 50%;
    width: 100%;
    display: flex;
    padding-bottom: 8px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.arrow-down {
    width: 40px;
    height: 40px;
    background: #f97e52;
    border-radius: 50%;
    margin: 16px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.arrow-down::after {
    content: '';
    width: 12px;
    height: 12px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
    margin-top: -4px;
}

@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        height: 400px;
        width: 85%;
    }

    .campaign-image {
        height: 300px;
    }
}

@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .card {
        height: 340px;
        width: 60%;
    }

    .campaign-image {
        height: 200px;
    }
}

