/* Reset and base styles */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar Styles */
body::-webkit-scrollbar,
main::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track,
main::-webkit-scrollbar-track {
  background: #f0f0f0;
}

body::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 6px;
  border: 2px solid #f0f0f0;
}

body::-webkit-scrollbar-thumb:hover,
main::-webkit-scrollbar-thumb:hover {
  background-color: #ff7a00;
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  color: #333;
  width: 100%;
  overflow: auto;
}

.max-width {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

